<main id="top">
    <h3>POKEMON</h3>

    <form action="" method="POST" enctype="" [formGroup]="formType">
        <div class="selectNameForm">
            <mat-form-field class="nameField" appearance="standard">
              <mat-label class="nameLabel">Introduce pokemon name or id</mat-label>
              <input class="nameInput" type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" >
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
                <mat-option class="nameOption" *ngFor="let option of filteredOptions |  async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="selectTypeForm">
            <div class="radiobuttons">
                <label class="container-checkbox" *ngFor="let type of typeList">
                    <input type="radio" id="{{type}}" name="type" value="{{type}}" formControlName="type" (change)="selectType($event)">
                    {{type | titlecase}}
                </label>
            </div>
        </div>
        <div class="formButtons">
            <button (click)="selectName()">Search<i class="bi bi-search"></i></button>
            <button (click)="removeFilter()">Remove filter<i class="bi bi-x"></i></button>
        </div>
    </form>
    
    <app-pokemon-card [pokemonSelected]="pokemonSelected" (parentFunction)="parentFunction($event)" *ngIf="showCard"></app-pokemon-card>


    
    <div class="grid" *ngIf="!showCard">
        <div class="pokemon" *ngFor="let pokemon of pokemons | filterPokemon:typeUser:nameUser" (click)="showPokemonCard(pokemon)">
            <div class="img">
                <img src = {{pokemon.sprites.front_default}} alt="foto pokemon">
            </div>
            <p id="id" class="name">Nº {{pokemon.id}}</p>
            <p id="name" class="name">{{pokemon.name}}</p>
            <div class="types">
                <p class="type" *ngFor="let type of pokemon.types"  [ngStyle]="{'background-color': getBgColor(type.type.name), 'color': getTextColor(type.type.name)}">{{type.type.name}}</p>
            </div>
        </div>
    </div>


    <button id="scroll_top" (click)="scrollTop()" *ngIf="!showCard">
        <i class="bi bi-chevron-up"></i>
    </button>

</main>