h3 {
    text-align: center;
    margin: 40px 0;
    font-size: 40px;
}

/* POKEMON GRID */
.grid {
    margin: 0 auto;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 10px;
}

.pokemon {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 0 15px 15px;
    cursor: pointer;
}

.img {
    width: 200px;
    height: 200px;
}

img {
    width: 100%;
    height: auto;
}

#id {
    color: #919191;
    font-size: 13px;
    font-weight: 500;
}

#name {
    text-transform: capitalize;
    color: #313131;
    font-size: 23px;
    margin-top: 7px;
    font-weight: 500;
}

.types {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 7px;
}

.type {
    font-size: 12px;
    width: 72px;
    border-radius: 3px;
    margin-right: 3px;
    text-align: center;
    text-transform: capitalize;
}

/* FILTER FORM */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

/* Name filter */
.selectNameForm {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
}

.nameField {
    width: 100%;
    width: calc(100% - 80px);
}

.nameLabel,
.nameInput,
.nameOption {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.nameInput {
    padding-left: 15px;
}

/* Type filter */
.selectTypeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 1.34375em;
}

.radiobuttons {
    width: 100%;
    max-width: 920px;
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 75px);
    row-gap: 10px;
    column-gap: 25px;
}

.radiobuttons .container-checkbox {
    font-size: 13px;
    padding: 3px 0;
}

.container-checkbox {
    color: var(--violeta);
    background: #fff;
    transition: color 0.3s ease;
    border: 2px solid var(--violeta);
    font-weight: 500;
    position: relative;
    cursor: pointer;
    text-align: center;

    /* Resetea los estilos predefinidos al estar seleccionado */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
input[type="radio"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}

/* Buttons filter */
.formButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.formButtons button {
    font-size: 12px;
    padding: 5px 10px;
    color: var(--violeta);
    background: #fff;
    transition: color 0.3s ease;
    border: 2px solid var(--violeta);
    font-weight: 500;
    position: relative;
    cursor: pointer;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.formButtons button:active, 
.formButtons button:hover {
    background-color: var(--rosa);
    border-color: var(--rosa);
    color: #fff;
}

.bi-x, .bi-search {
    height: 40px;
    width: 40px;
    margin-left: 8px;
}

/* Scroll to top */
#scroll_top {
    opacity: 0.7;
    color: var(--violeta);
    border: 2px solid var(--violeta);
    background: #fff;
    position: fixed; 
    height: 40px;
    width: 40px;
    right: 40px;
    bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

#scroll_top:hover {
    background-color: var(--rosa);
    border-color: var(--rosa);
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.bi-chevron-up {
    font-size: 20px;
}

@media only screen and (min-width: 460px){
    .selectTypeForm {
        flex-direction: row;
    }

    .radiobuttons {
        width: calc(100% - 170px);
    }
}