#form, #userList {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

#form {
    margin-top: 20px;
    margin-bottom: 40px;
}

#userList {
    display: flex;
    justify-content: center;
}

#userList li{
    height: 30px;
    width: 100px;
}

.crearInput {
    display: flex;
    justify-content: space-between;
}

input, .crear {
    height: 45px;
    width: 100%;
    border-radius: 0;
    margin: 5px 0;
    padding: 10px;
    border: 2px solid var(--violeta);
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease;
}

.crearInput input {
    display: inline-block;
    width: calc(100% - 120px);
}

input:focus {
    border: 2px solid var(--rosa);
    transition: border 0.3s ease;
    outline: none;
}

button {
    transition: all 0.3s ease;
    cursor: pointer;
    background: #fff;
}

button:hover {
    background: var(--rosa);
    border-color: var(--rosa);
    color: #fff;
    transition: all 0.3s ease;
}

.crear {
    display: inline-block;
    width: 100px;
    color: var(--violeta);
    background: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.eliminar {
    border: none;
    background:#fafafa;
    height: 20px;
    width: 20px;
    margin-left: 20px;
}

.eliminar i {
    font-size: 12px;
    color: var(--violeta);
    visibility: hidden;
}

.eliminar:hover i {
    color: #fff;
}

.user:hover i {
    visibility: visible;
}