<main>
    <div id="form">
        <div class="crearInput">
            <input type="text" [(ngModel)]="createUser" placeholder="Crear usuario">
            <button class="crear" (click)="createNewUser()">Crear</button>
        </div>
        <div class="buscarInput">
            <input type="text" [(ngModel)]="searchUser" placeholder="Buscar usuario">
        </div>
    </div>
    <div id="userList">
        <ul>
            <li class="user" *ngFor="let user of users | users:searchUser">{{user}}<button class="eliminar" (click)="deleteUser($event)"><i class="bi bi-trash3"></i></button></li>
        </ul>
    </div>
</main>