<main>
    <div class="card-container">
        <div class="card">
            <div class="personalinfo-container">
                <div class="personal-title">
                    <h1>Sara Collados</h1>
                    <p>Estudiando Máster en Desarrollo Web Full-stack</p>
                </div>
                <div class="personal-info">
                    <table>
                        <tr>
                            <td>Ubicación</td>
                            <td>Tenerife, Canarias | Remoto</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>saracollados95@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Teléfono</td>
                            <td>618269614</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="personal-description">
        <p>Soy una <b>ingeniera industrial</b> dedicada y trabajadora con sólidas <b>capacidades técnicas e interpersonales</b>. Tengo ganas de <b>mejorar</b> mis habilidades y desarrollar otras nuevas. Tengo una gran capacidad y ganas para <b>aprender</b> y crecer personalmente.</p>
        <p>Tengo experiencia trabajando en <b>análisis de datos</b>. En la actualidad estoy centrada en el desarrollo web cursando el <b>Máster Desarrollo Web Full-stack</b> en la Escuela Internacional de Posgrados.</p>
    </div>
    <nav>
        <ul>
            <li><a href="curriculum-vitae#education">Formación</a></li>
            <li><a href="curriculum-vitae#experience">Experiencia</a></li>
            <li><a href="curriculum-vitae#skills">Conocimientos</a></li>
        </ul>
    </nav>
    <div id="education">
        <header><h2>Formación</h2></header>
        <div class="container">
            <div class="year">2022 - Presente</div>
            <div class="info">
                <p class="title">Máster en Desarrollo Web Full-stack</p>
                <p class="company"><b>Escuela Internacional de Posgrados (EIP)</b></p>
                <p class="description">Conocimiento de las tres partes del desarrollo web: frontend, backend y las bases de datos. Tocando tecnologías como HTML5, CSS3, JavaScript, Angular, API REST, PHP, Laravel y BBDD.</p>
            </div>
        </div>
        <div class="container">
            <div class="year">2013 - 2019</div>
            <div class="info">
                <p class="title">Grado en Ingeniería Industrial</p>
                <p class="company"><b>Universitat Politècnica de Catalunya</b></p>
                <p class="description">Conocimiento multidisciplinar en el campo de la Ingeniería Industrial. Incluyendo disciplinas científicas, como Matemáticas, Física, Química y Programación, y disciplinas de negocio, como Organización y gestión y Economía.</p>
            </div>
        </div>
    </div>
    <div id="experience">
        <header><h2>Experiencia</h2></header>
        <div class="container">
            <div class="year">Sep 2021 - Nov 2021</div>
            <div class="info">
                <p class="title">Analytics Consultant</p>
                <p class="company"><b>Bertia</b> | Barcelona, España</p>
                <p class="description">Trabajar con empresas de diferentes sectores (construcción, comercial,...) para determinar los datos que se necesitan, estructurarlos y, posteriormente, crear dashboards utilizando Power BI para la correcta toma de decisiones. También crear aplicaciones sencillas usando Microsoft Power Apps.</p>
            </div>
        </div>
        <div class="container">
            <div class="year">Nov 2020 - Jul 2021</div>
            <div class="info">
                <p class="title">BI Analyst</p>
                <p class="company"><b>The Bx Group</b> | Maidstone, UK</p>
                <p class="description">Determinar los datos que necesita la empresa, estructurarlos en un formato apropiado usando herramientas de Microsoft, como Excel, crear informes y visualizaciones usando Power BI para los directivos de la propia empresa.</p>
            </div>
        </div>
        <div class="container">
            <div class="year">Oct 2019 – Nov 2020</div>
            <div class="info">
                <p class="title">Au Pair</p>
                <p class="company">Sevenoaks, UK</p>
                <p class="description">Cuidado de niños mientras mejoro mi nivel de inglés y habilidades de comunicación y adaptación en otra cultura.</p>
            </div>
        </div>
        <div class="container">
            <div class="year">Jul 2018 – Oct 2019</div>
            <div class="info">
                <p class="title">Data Analyst Intern</p>
                <p class="company"><b>Paack Logistics</b> | Barcelona, España</p>
                <p class="description">Ayudar a otros equipos a tomar decisiones basadas en datos y análisis. Empezar la automatización de los informes usando QlikView.</p>
            </div>
        </div>
    </div>
    <div id="skills">
        <header><h2>Conocimientos</h2></header>
        <div class="skill-container">
            <p>HTML & CSS</p>
            <div class="level-container">
                <div class="level html-css"></div>
            </div>
        </div>
        <div class="skill-container">
            <p>JavaScript & JQuery</p>
            <div class="level-container">
                <div class="level js"></div>
            </div>
        </div>
        <div class="skill-container">
            <p>Angular</p>
            <div class="level-container">
                <div class="level angular"></div>
            </div>
        </div>
    </div>

    <button id="scroll_top" (click)="scrollTop()">
        <i class="bi bi-chevron-up"></i>
    </button>
</main>