<div class="pokemonCard" *ngIf="showCard">
    <button (click)="sendCloseCard()"><i class="bi bi-x"></i></button>
    <div class="titleDetails">
        <p id="nameDetails"><b>{{pokemonSelected?.name ?? "" | uppercase}}</b></p>
        <p id="idDetails">Nº {{pokemonSelected?.id ?? 0}}</p>
    </div>
    <div class="details">
        <div *ngIf="pokemonSelected?.sprites?.front_default ?? false" class="imgDetails">
            <img src = {{pokemonSelected?.sprites?.front_default}} alt="foto pokemon">
        </div>
        <div class="mainDetails">
                <div class="typesDetails">
                    <p class="typeDetails" *ngFor="let type of pokemonSelected?.types" [ngStyle]="{'background-color': getBgColor(type.type.name), 'color': getTextColor(type.type.name)}">{{type.type.name}}</p>
                </div>
                <div class="physicalDetails">
                    <p><b>Height:</b> {{pokemonSelected?.height ?? 0 | specs}} m</p>
                    <p><b>Weight:</b> {{pokemonSelected?.weight ?? 0 | specs}} kg</p>
                </div>
            <div class="stats">
                <div class="stat" *ngFor="let stat of pokemonSelected?.stats">
                    <label for="hp">{{stat.stat.name | statNames}}</label>
                    <meter id="hp" value="{{stat.base_stat}}" min="0" max="100"></meter>
                    <p>{{stat.base_stat}}</p>
                </div>
            </div>
        </div>
    </div>
</div>