@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --violeta: #937DC2;
    --rosa: #E8A0BF;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, 
a:visited, 
a:active {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    min-height: 100vh; 
    scroll-behavior: smooth; 
    text-rendering: optimizeSpeed; 
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 100vw;
    min-height: calc(100vh - 100px);
    padding: 20px;
    background: #fafafa;
}