main {
    padding: 0;
    background: url(../../../img/cover.jpg) no-repeat center 65% / cover;
    position: relative;
}

.dark-bg {
    width: 100%;
    min-height: calc(100vh - 100px);
    background: #00000099;
}

h1 {
    position: absolute;
    top: 200px;
    left: 100px;
    color: var(--violeta);
    font-size: 40px;
}

p {
    position: absolute;
    top: 260px;
    left: 100px;
    color: var(--violeta);
    font-size: 20px;
}

